
.blog-header{
	position:relative;
	background:#222;
	float:left;
	color:#fff;
	display:inline-block;
	text-align:center;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
.blog-header h1{
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Oswald', Arial, sans-serif;
}
.blog-header h1 span{
	line-height:60px;
	color:#ef1010;
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Oswald', Arial, sans-serif;
}
.blog-header h2{
	font-size:20px;
	text-transform:uppercase;
}
.blog-text h2{
	text-transform: uppercase;
	background: #222;
	color: white;
	font-family: 'Droid Sans', Arial, sans-serif;
	line-height: 20px;
	font-size: 11px;
	text-transform: uppercase;
	font-style: normal;
	padding:7px;
}
.blog-text p{
	line-height: 20px;
	padding:10px;
	text-align:justify;
	font-size:13px;
	background:white;
	display:inline-block;
}

.blog-text p a{
	color: #bf360c;
	text-decoration: none;
	font-size: 10px;
	float:right;
	text-transform: uppercase;
	font-family: 'Droid Sans', Arial, sans-serif;
	background:white;
}
.blog-subline-fancy{
	font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
}
.blog-header .blog-subline-fancy{
	font-size:30px;
}
.blog-subline{
	font-family:'Droid Sans', Arial, sans-serif;
	line-height:20px;
	font-size:11px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-style:normal;
}